p Dear #{toWhom}

p Your task 
  strong #{taskName}
  |  is completed and lodged to ATO whenever it is necessary. Please login here.
  a(href=website) #{website}
  |  to see the details.

p 您的 
  strong #{taskName}
  | 已经完成，如需上报税务局的，已经上报完成。更多细节请登录
  a(href=website) #{website}
  | 进行查询。

p If you have any question or any changes of circumstance. Please contact us ASAP.

include ../signature.pug