p Dear #{toWhom}

p You have signed all documents required for task 
  strong #{taskName}
  | .

p 您已经在我们的平台上签字确认了
  strong #{taskName}
  | .

p By viewing the documents and clicking the sign button, you declare that the information provided for the preparation of the task is true and correct.

p For the document where it is to be lodged to the ATO electronically. Client or the business owner, authorise J.Z. Accounting trading as AU Accounting Office to give the e-signed document to the commissioner of Taxation. The agent is authorised to lodge this form.

p It is the responsibility of the taxpayer to retain this declaration for a period of five years after the declaration is made, penalties may apply for failure to do so.

p Please login here.
  a(href=website) #{website}
  |  to see the details.

p If you think you operate the system incorrectly or you have any other changes or problems with the documents signed after, please contact us immediately.

include ../signature.pug