p Dear #{toWhom}

p The task 
  strong #{taskName}
  |  requires your further actions.

p Please log into the system
  a(href=website) #{website}
  |  to continue the task.

p 
  strong #{taskName}
  | 需要您及时完成，请登录
  a(href=website) #{website}
  | 上传文件或留言给我们。

include ../signature.pug